@page "/contact"

<section class="container py-5 text-center">
    <h2 class="mb-4">Get in Touch</h2>

    <p>If you're interested in working together or want to connect, feel free to reach out via email or LinkedIn.</p>

    <div class="mt-4">
        <p>
            📧 <a href="mailto:jca2726@wgu.edu" class="text-decoration-none fw-semibold">jca2726@wgu.edu</a>
        </p>
        <p>
            💼 <a href="https://www.linkedin.com/in/johnathan-carranza/" target="_blank" class="text-decoration-none fw-semibold">linkedin.com/in/johnathan-carranza</a>
        </p>
        <p>
            💻 <a href="https://github.com/JohnCarra" target="_blank" class="text-decoration-none fw-semibold">github.com/JohnCarra</a>
        </p>
    </div>
</section>

@code {

}
